#divSearchCount {
    position: absolute;
    width: auto;
    height: 19px;
    right: 47px;
    top: 5px;
    z-index : 100;
    color: #aaa;
    font-size: 11px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
}

.tb_textbox.searchTxt .sbtb_middle input {
    width: 100%;
}

.btnquicksearchnav.btnquicksearchnavLeft .lbl span {
    background-image: url("@{icon-path}/arrow_left_search.png");
}
.btnquicksearchnav.btnquicksearchnavRight .lbl span {
    background-image: url("@{icon-path}/arrow_right_search.png");
}

.findInRangeMarker {
    position: absolute;
    background-color: rgba(133, 133, 133, 0.27)
}